<!DOCTYPE html>
<html>
<head>

  {% load static%}
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(63, 61, 61, 0.219), 0 6px 20px 0 rgba(88, 86, 86, 0.192);
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
}
.left{
  float: left;
  margin-left: 6%;
  color: dimgrey;
}

</style>
</head>
<body>
<br>
<div class="chip" style="margin-left: 1%;">
  <img src="{% static 'logo/im.jpeg' %}" alt="Person" width="596" height="350">
  <b> Nema Chandra Goswami <b>
</div>
<br><br>

<style>

</style>

<br>
  <div class="countainer" style="width: 92%; margin-left: 6%; padding: 1%; box-shadow: 0 4px 8px 0 rgba(224, 219, 219, 0.219), 0 6px 20px 0 rgba(216, 214, 214, 0.192);">
    <h3 style="color: rgba(0, 0, 0, 0.842);"><b>FitnessClub The membership WebProject</b></h3>
    <p style="color: rgba(0, 0, 0, 0.548); font-size: 15px; padding-left: 2%; padding-right: 5%; ">This is my collage project which one is practicle implementation the knowledge of <b style="color: rgb(255, 38, 0);"> Membership Site Basics</b> and <b style="color: rgb(255, 38, 0);"> Web-Development</b>. in this project user will buy the membership for particular field, time  and choose perfect Trainer then user will trained by Trainer. Here user find GYM Trainning, yoga Classes, Dance Classes, Arbic Dance Classes etc. I used the YouTube content for Data Fieldset and as I said this is my collage project so I am not using the creator's content for make money.</p>
    

    <div class="container" >
      <a style="float: right; margin-right:5%; margin-top: 1%;" href="{% url 'index' %}" type="button" class="btn btn-primary btn-lg">GO To The WEBSITE</a>    </div>
      <h3 style="margin-top: -1%;">About WebProject</h3>
      <div>
        <p style="color: rgba(0, 0, 0, 0.548); font-size: 15px; padding-left: 2%; padding-right: 10%;">FitnessClub Project is a MemberShip Web Site Project. In the project Developer use HTML, CSS, JAVASCRIPT and Bootstrap for FrontEnd Designing, for BackEnd Developer Use python, Django Framework and for Database, use Django inbuilt Database.</p>
      </div><br>
      <h3 style="margin-top: 3%;">Certification and Trainning</h3>
      <p style="color: rgba(0, 0, 0, 0.548); font-size: 15px; padding-left: 2%; padding-right: 10%;">- member ship Site planning (Career Development College ) <br>- Full-Stack Development With Django (Udemy) </p>
      <br>    <div class="btn-group">
        <a  class="btn btn-info" href="https://careerdevelopmentcollege.uk/certificates/e7662d1ccc0e163330c6be0a04770b9e/">MemberShip Site</a>
        <a  class="btn btn-danger" href="https://www.udemy.com/certificate/UC-a74f75fd-7d2f-423c-baac-f90df9c48bc1/">Full-Stack Development</a>
      </div><br>

    
<br>
  </div>
  <br>
<br> 

</body>
</html>
