<!DOCTYPE html>
<html lang="en">
<head>
  <title>not_Paid</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: blanchedalmond;" ><b>FITNESS-CLUB</b></a>
    </div>
  </div>
</nav>
  
<br><br><br><br>

<h3 style="margin: 2%;">this page not aviable for your account...<br> ..To see the effect you have to <a href="{% url 'nointernet' %}"  >pay*</a> </h3>

 
<h3 style="margin: 2%;"><b>If... </b> <br>you just paid for this please Wait might be late beacuse of security or lag of server! </h3>

</body>
</html>
