<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration for Fitness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div style="background-color: rgb(12, 12, 12); width: auto; height: 5%; margin-top: -2%; box-shadow: 0 4px 8px 0 rgba(17, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.349) ; " >
    <h1 style="color: blanchedalmond; padding: 1%; padding-top: 1.80%; " ><b>FitnessClub</b></h1>
    
</div>

    <style>
    
    div.polaroid {
      width: 70%;
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(17, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.349);
      margin-left: 14%;
    }
    @media screen and (max-width: 700px) {
         #pol{
            margin-top: 100%;
        }
        }

    </style>
    <div class="polaroid" id="pol" style="border-style: double; margin-top: 7%; border-color: rgba(14, 13, 13, 0.19); background-color: rgba(14, 13, 13, 0.247);" >
        <h3 style="background-color: black; color: blanchedalmond; margin-top: -0.50%; padding: 2%;">Registration Form...</h3>
        
                
        {% block content %}
        <div class="container" >
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <!-- Form - User -->
                    <form action="" method="post" class="form-horizontal">

                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-sm-9">

                                <!-- Errors - username -->
                                {% if form.username.errors %}
                                    <label class="alert alert-danger">{{ form.username.errors }}</label>
                                {% endif %}

                                <!-- Form field - username -->
                                <input style="width: 80%; margin-left: 7%; padding: 1%;"
                                    type="text"
                                    placeholder="Account Username choose diffrent"
                                    class="form-control"
                                    name="username"
                                    required
                                    value="{{ form.username.value|default:"" }}">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">

                                <!-- Errors - password -->
                                {% if form.password.errors %}
                                    <label class="alert alert-danger">{{ form.password.errors }}</label>
                                {% endif %}

                                <!-- Form field - password -->
                                <input style="width: 80%; margin-left: 7%; padding: 1%;"
                                    type="password"
                                    placeholder="Password"
                                    class="form-control"
                                    name="password"
                                    required
                                    value="{{ form.password.value|default:"" }}">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">

                                <!-- Errors - first_name -->
                                {% if form.first_name.errors %}
                                    <label class="alert alert-danger">{{ form.first_name.errors }}</label>
                                {% endif %}

                                <!-- Form field - first_name -->
                                <input style="width: 80%; margin-left: 7%; padding: 1%;"
                                    type="text"
                                    placeholder="First Name"
                                    class="form-control"
                                    name="first_name"
                                    required
                                    value="{{ form.first_name.value|default:"" }}">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">

                                <!-- Errors - last_name -->
                                {% if form.last_name.errors %}
                                    <label class="alert alert-danger">{{ form.last_name.errors }}</label>
                                {% endif %}

                                <!-- Form field - last_name -->
                                <input style="width: 80%; margin-left: 7%; padding: 1%;"
                                    type="text"
                                    placeholder="Last Name"
                                    class="form-control"
                                    name="last_name"
                                    required
                                    value="{{ form.last_name.value|default:"" }}">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">

                                <!-- Errors - email -->
                                {% if form.email.errors %}
                                    <label class="alert alert-danger">{{ form.email.errors }}</label>
                                {% endif %}

                                <!-- Form field - email -->
                                <input style="width: 80%; margin-left: 7%; padding: 1%;"
                                    type="text"
                                    placeholder="E-mail"
                                    class="form-control"
                                    name="email"
                                    required
                                    value="{{ form.email.value|default:"" }}">
                                    <br>
                                    <button type="submit"  class="btn btn-dark btn-lg btn-block" style="background: dimgray; color: floralwhite;" >Submit For Registration</button>
                                    
                                    <br> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">

                                <!-- Submit button -->
                                        <a href="{% url 'login' %}" style="float: left; color: rgb(31, 28, 13); "><span class="glyphicon glyphicon-log-in"></span> Login</a>
                                        <li class="active"><a href="{% url 'index' %}" style="color: rgb(146, 145, 146);"><b>HOME</b></a></li>
        
                                    
                                    
                                    <br>
                            
                                </div>
                                
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        {% endblock content %}







        

</body>
</html>













